<html>

<body id="home">
	<a id="menu-link" href="#" class="">
		<span class="menu-icon"></span>
	</a>
      
	<div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li><a href="#home" class="smooth-scroll">Home</a></li>
            <li><a href="#features" class="smooth-scroll">About product</a></li>
            <li><a href="#news" class="smooth-scroll">Showcase</a></li>
            <li><a href="#contact" class="smooth-scroll">Contact</a></li>
          </ul>
        </nav>
      </div>
	
	<div id="wrap">
		<section id="hero" class="m-center text-center bg-shop full-height">
			<div class="center-box">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="hero-unit ">
								<h1 class="title"><b>Pnikbox</h1>
								<h1><b>擁有令人稱羨的巴掌臉</b></h1>	
								</div>	
									<div class="col-sm-12 img-hero">
	                    		</div>
								<br>
								<%= link_to(content_tag(:b, "立即體驗"), choose_orders_path, method: :post, class: "btn white") %>
							</div>

                    </div>
				</div>
				<br><br>
				<a href="#features" class="hero-start-link smooth-scroll anchor-link"><i class="fa fa-angle-double-down"></i></span></a>
			</div>
		</section>
		
		<section id="features" class="features-1">
			<div class="container padding-top-bottom">
				<div class="row header">
					<div class="col-md-12">
						<h2>每天五分鐘，四周晉升小臉一族</h2>
						<p>Open the pink box! Your beauty adventure starts!</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
			            <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in ">
			                <article class="text-center">
				                <img src="https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/feature1.jpg" alt="#" class="zoom-img img-responsive center-block">
			                    <h3>​告別修圖軟體</h3>
			                    <p>告別照騙，讓你不是只活在圖片裡。針對重要部位發送溫和微電流脈衝能，消除細紋、調理膚色、緊實肌膚，幫助肌膚重新塑造年輕質感。</p>
			                </article>
			            </div>                       
						<div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
			                <article class="text-center">	
								<img src="https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/feature2.jpg" alt="#" class="zoom-img img-responsive center-block">
			                    <h3>​呈現完美臉部曲線</h3>
			                    <p>讓你成為王心凌，而不是鍾欣凌。通過電流來刺激膠原蛋白的形成，促進血液循環，增強皮膚修復能力，加強肌肉力量，使臉部曲線更美。</p>
			                </article>
			            </div>             
						<div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
			                <article class="text-center">	
								<img src="https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/feature3.jpg" alt="#" class="zoom-img img-responsive center-block">
			                    <h3>拍照再也不必躲後面</h3>
			                    <p>極致瘦臉，讓你拍照能勇敢站出來。透過微電波刺激，促進脂肪細胞分解。</p>
			                </article>
			            </div>
		            </div>             
        		</div>
			</div>	
		</section>
       		<!-- vertical center / slider -->
		<section id="showcase" class="">
            <div class="container-fluid">
                <div class="row" >
 					<div class="col-sm-6 bg-shop" style="height:500px;">
                        <div class="embed-container">
                        	<%= embed("https://www.youtube.com/watch?v=ZvwxdNXnnTY") %>  
                        </div>
                    </div> 
                    <div class="col-sm-6 bg-shop" style="height:500px;">
                        <div class="half-box-right">
                            <div class="center-vertical">
                                <div class="center-vertical-box">
                                    <h1><b>使用方法</b></h1>	
                                    <ul style="padding: 20px;">
										<li>Nuface Trinity Pro 電波拉皮機</li>
										<li>限時免國際運費活動來囉！</li>
										<li>免運費地區限台灣以及美國50州</li>
										<li>大家把握時機！</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section> 
        <!-- end vertical center / slider -->
		<section id="news" class="content-1 bg-image-2 padding-top-bottom bg-shop-2">
			<div class="row header">
				<div class="col-md-12">
					<h2>看看她們怎麼說</h2>
					<p>Open the pink box! Your beauty adventure starts!</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 white-box">
							<%= image_tag("https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/try1.jpg") %>
							<p>從小因為臉大，就被同學叫做大臉，自從使用此產品，持之以恆，兩個月後，很多同學就叫我改名陳小臉了。</p>
							<blockquote class="blockquote-reverse">
							  <p>陳大臉 23歲 學生</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 white-box">
							<%= image_tag("https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/try2.jpg") %>
							<p>我從小就有嬰兒肥，臉夾上常常有兩塊惱人的肉肉，直到我使用Nuface的電波拉提機，拍照終於不用再遮臉找角度。</p>
							<blockquote class="blockquote-reverse">
							  <p>林砂紙 27歲 工程師</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 white-box">
							<%= image_tag("https://s3-ap-northeast-1.amazonaws.com/poyuantest1/uploads/pinkbox/try3.jpg") %>
							<p>以前總是對自己的臉型沒自信，自從開始使用一個月後，甚至還有主管還問我是不是有去微整形。</p>
							<blockquote class="blockquote-reverse">
							  <p>許安柏 29歲 秘書</p>
						</div>
					</div>
				</div>
			</div>
		</section>

			
		<section id="facts" class="numbers-1 padding-top-bottom text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="numbers-item">
							<h2 class="counter">367</h2>
							<h4>購買</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="numbers-item">
							<h2><span class="counter">99.1</span> <span>%</span></h2>
							<h4>滿意度</h4>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="numbers-item">
							<h2><span class="counter">17</span> <span></span></h2>
							<h4>人次</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="cta-1 bg-shop padding-top-bottom text-center white-text">
			<div class="container-fluid anima scale-in">
				<div class="row">
					<div class="col-sm-12">
						<span>心動不如馬上行動！</span>
						<%= link_to(content_tag(:b, "立即體驗"), choose_orders_path, method: :post, class: "btn white") %>
					</div>	
				</div>
			</div>
		</section>
			
		<section class="footer-1 text-center">
		  <div class="container-fluid">
		     <a href="#home" class="back-to-top smooth-scroll"><i class="fa fa-chevron-up"></i></a>
		        <p><i class="fa fa-heart color-text"></i> by <a href="http://demo.angelostudio.net">I heart Pinkbox</a>.</p>
		      <ul class="social-links-2 ">
		        <li><a href="https://www.facebook.com/I-heart-Pinkbox-1509483019271242/?ref=ts&fref=ts"><i class="fa fa-facebook"></i></a></li>
		      </ul>
		  </div>
		</section>
	</div>

    <script type="text/javascript" src="javascripts/core.js"></script>
    <script type="text/javascript" src="javascripts/menu-overlay.js"></script>
    <script type="text/javascript" src="javascripts/placeholders.min.js"></script>
    <!-- end core scripts --> 
    <!-- sliders -->
    <script type="text/javascript" src="javascripts/owl.carousel.min.js"></script>   	
   	<script type="text/javascript" src="javascripts/sliders.js"></script>
	<script type="text/javascript" src="javascripts/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="javascripts/numbers.js"></script>
	<script type="text/javascript" src="javascripts/contact.js"></script>
</body>
</html>

