<section id="new_product" class="content-1 text-center bg-shop-2">
<div ><br><br></div>
<h2>新增產品</h2>
<div class = "container bg-shop">
	<div ><br><br></div>
<%= simple_form_for [:admin, @product] do |f| %>
	<div class="group">
		<%= f.input :title %>
	</div>
	<div class="group">
		<%= f.input :number %>
	</div>
	<div class="group">
		<%= f.input :description %>
	</div>
	<div class="group">
		<%= f.input :price %>
	</div>
	
	<%= f.submit "Submit", data: { disable_with: "Submitting...."} %>
	<div ><br><br></div>
<% end %>
</div>
</section>
